<style>
	body{
		text-align: center;
	}

</style>
<h2>Add your frequently used sites and your hot keys</h2>
<p> for url, please enter in the format of www.abc.com </p>
<%= render 'form' %>

<%= link_to 'Back', bookmarks_path %>
